<div class="form-component-container">
    <div class="heading-flex">
        <div class="heading-title">
            <h2>New Publications</h2>
        </div>
        <div>
            <button class="m-2 cancel-button" mat-raised-button color="secondary" (click)="cancel()">Cancel</button>
        </div>
    </div>
    
    <form [formGroup]="publishForm">
        <div>
            <label> Title *</label>
            <input type="text" class="input-title" required formControlName="title" placeholder="Enter the title">
        </div>
        <div class="description-textarea">
            <label> Description *</label>
            <textarea rows="5" cols="10" formControlName="description" required placeholder="Description..."></textarea>
        </div>
    </form>
    <div style="text-align: right;">
        <button class="submit-button" [disabled]="!publishForm.valid" mat-raised-button color="primary"
            (click)="createPublications()">Submit</button>
    </div>
</div>