input[type=text] {
    padding: 5px;
    margin:10px 0; 
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}
input {
    width:100%;
}

textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    margin: 10px 0;
  }

.border-removed-input {
    border: 0;
}

input, textarea {
    font-family:inherit;
    font-size: inherit;
}

label {
    font-weight: bold;
    font-size: 14px;
}

button {
    border-radius: 10px;
}

.submit-button {
	background-color: #3843d0;
    border-color: #3843d0;
    margin-top: 5px;
}

h2 {
    font-weight: 300;
}
.heading-flex {
    display: flex;
}
.heading-title {
    flex: 1;
}
.cancel-button {
    color: #3843d0;
    margin-top: 0 !important;
    background: white;
}
.description-textarea {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    h2{
        font-size:  16px;
    }
}