.title{
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	color: #4F4F4F;
}

.sub-title{
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: rgba(130,130,130,0.7);
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.description{
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #828282;
}

.message-count{
	color: #9A9CB5;
	font-size: 13px;
	line-height: 24px;
	font-weight: 600;
	margin-left: 7px;
}

.mat-icon {
    cursor: pointer;
}

.active {
	color: gold !important;
}

.thumbs-up {
	color: lightgray;
}

.thumbs-down {
	color: lightgray;
    margin-left: 10px;
}

.edit-icon {
	color: darkblue;
    margin-right: 10px;
}

.delete-icon {
	color: orangered;
}

.actions {
	display: flex;
	padding-left: 0;
}

.like-unlike {
	flex: 0.5;
}
.empty-flex {
	flex:0.5;
}

.count {
	text-align: right;
}

.score{
	flex: 1;
	flex-grow: 4;
}

.count-mobile {
	display: none;
}
.author {
	color: gray;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	font-size: 12px;
}

@media only screen and (max-width: 600px) {
	.main-container {
		display: flex;
	}
	.avatar-container {
		flex: 1.2;
		padding: 0;
	}
	.content {
		flex: 5;
		flex-grow: 5;
		padding-left: 0;
	}
	.actions {
		display: flex;
		padding-left: 5px;
	}
	.count-mobile {
		flex: 1;
	}
	.count {
		display: none;
	};
	.icon-edit-delete {
		margin-top: 0px;
	}
	.icons-edit-mobile {
		margin-top: 0;
	}

	.empty-flex {
		display: none;
	}
	.score {
		flex: 1;
		flex-grow: 4;
	}
	.like-unlike {
		flex: 1.1;
	}
	.thumbs-up {
		font-size: 20px;
	}
	
	.thumbs-down {
		font-size: 20px;
		margin-left: 5px;
	}
}
