<div class="row p-3 shadow-sm mb-1 bg-white rounded main-container">
	<div class="col-md-1 avatar-container">
		<img src="/assets/boy.svg" width="60" height="60">
	</div>
	<div class="col-md-10 content">
		<p class="title">{{publication.title}}</p>
		<p [title]="publication.description" class="sub-title">{{publication.description}}</p>
	</div>
	<div class="col-md-1 count">
		<img src="/assets/message-bubble.png" width="20" height="20">
		<span class="message-count">72</span>
	</div>
	<div class="actions">
		<div class="empty-flex">

		</div>
		<div class="like-unlike">
			<mat-icon [class.active]="publication.like" class="thumbs-up" (click)="likeOrUnlike(publication, true)">thumb_up
			</mat-icon>
			<mat-icon [class.active]="!publication.like" class="thumbs-down" (click)="likeOrUnlike(publication, false)">thumb_down
			</mat-icon>
		</div>
		<div class="score">
			<span class="author">Subramaniyan narayanan of maths group</span>
		</div>
		<div class="count-mobile">
			<img src="/assets/message-bubble.png" width="20" height="20">
			<span class="message-count">72</span>
		</div>
		<div class="icon-edit-delete icons-edit-mobile">
			<mat-icon class="edit-icon" (click)="editForm(publication)">edit</mat-icon>
			<mat-icon class="delete-icon" (click)="delete(publication)">delete</mat-icon>
		</div>
	</div>
</div>