<div class="container list-container">
	<div class="header">
		<div class="header-logo">
			<img src="/assets/luca.svg">
		</div>
		<div class="search-container">
			<input [(ngModel)]="searchText" type="search" placeholder="search...">
		</div>
		<div class="button-wrap">
			<button class="create-button" mat-raised-button color="primary" (click)="openCreatePublicationForm()">Create
				Publication</button>
		</div>
	</div>
	<mat-tab-group>
		<mat-tab label="Popular">
			<app-publication-card (callPublicationsList)="getPublicationListEvent($event)"
				*ngFor="let publication of publications | filter: searchText" [publication]="publication">
			</app-publication-card>
		</mat-tab>
		<mat-tab label="Favorite">
			<app-publication-card (callPublicationsList)="getPublicationListEvent($event)"
				*ngFor="let publication of publications | filter: searchText" [publication]="publication">
			</app-publication-card>
		</mat-tab>
		<mat-tab label="Random">
			<app-publication-card (callPublicationsList)="getPublicationListEvent($event)"
				*ngFor="let publication of publications | filter: searchText" [publication]="publication">
			</app-publication-card>
		</mat-tab>
	</mat-tab-group>
	<div class="fixed-icon-create">
		<mat-icon class="add-icon" (click)="openCreatePublicationForm()">add_circle</mat-icon>
	</div>

</div>