.list-container{
	padding: 10px 0; 
}
.list-title{
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	color: #333333;
	padding-bottom: 40px;
}
.header {
	display: flex;
}
.header-logo {
	flex: 1;
	padding: 10px;
}
.button-wrap {
	padding: 10px;
	padding-right: 0;
}
.create-button {
	background-color: transparent;
    border-color: #f96654;
    color: #f96654;
    border-radius: 50px;
}
.create-button:hover {
	background-color: #f96654;
    color: #fff;
}
input[type=search] {
	padding: 5px;
    margin:10px 0; 
    padding:8px;
    border:1px solid lightgray;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:30px;
	width: 60%;
}
.search-container {
	flex: 1;
}

.fixed-icon-create {
	display: none;
}

@media only screen and (max-width: 600px) {

	.fixed-icon-create{
		position: fixed;
		bottom: 0;
		z-index: 999;
		right: 35px;
	}
	.add-icon {
		color: royalblue;
		font-size: 50px;
	}
	.button-wrap {
		display: none;
	}
	.fixed-icon-create {
		display: block;
	}
	.search-container {
		flex: 1;
		padding-right: 10px;
	}
	input[type=search] {
		width: 100%;
		height: 35px;
	}
}